<h3><%= @campaign.title %></h3>

<% if current_user == @campaign.user %>
  <div class="edit-button btn">
    <%= link_to 'Edit Campaign Details', edit_campaign_path %>
  </div>
<% end %>

<!-- For each of these displays, post a message if they're empty -->
<!-- TODO: Store this in a partial -->
<h4>Chapters</h4>
<% @chapters.each do |number, title| %>
  <div class='chapter-tab'> <%= number %>. <%= title %> </div>
<% end %>

<!-- TODO: Store this in a partial -->
<h4>Setting Details</h4>
<% @setting_details.each do |title, details| %>
  <div class='setting-bullet'> <%= title %> - <%= details %> </div>
<% end %>
<!-- TODO: Use something other than an a tag -->
<br>
<a href='#' class='new-setting-button'>Add Setting Details?</a>
<%= render partial: '/setting_details/form', locals: { campaign: @campaign, setting_detail: @setting_detail } %>

<!-- TODO: Store this in a partial -->
<h4>The Party</h4>
<% @player_characters.each do |character| %>
  <div class="character name">
    <!-- TODO: Make this a link to the character's show page -->
    Character: <%= character.name.titleize %>
  </div>
  <div class="character username">
    Player: <%= character.user.username.capitalize %>
  </div>
  <div class="character level">
    Level: <%= character.level %>
  </div>
  <div class="character class">
    Primary Class: <%= character.primary_class %>
  </div>

  <% if character.secondary_class != nil %>
  <div class="character secondary_class">
    Secondary Class: <%= character.secondary_class %>
  </div>
    <% if character.tertiary_class != nil %>
    <div class="character tertiary_class">
      Tertiary Class: <%= character.tertiary_class %>
    </div>
    <% end %>
  <% end %>
<% end %>

<!-- TODO: Store this in a partial -->
<h4>NPC Roster</h4>
<% @gm_characters.each do |character| %>
<div class="character name">
  <!-- TODO: Make this a link to the character's show page -->
  Character: <%= character.name.titleize %>
</div>
<% end %>

<!-- TODO: Store this in a partial -->
<h4>Available Loot</h4>
<% @loot.each do |item| %>
  <h5><%= item['item'].titleize %></h5>
  <% item.each do |title, detail| %>
    <% unless title == 'item' %>
      <div class="item-field">
        <%= title %>: <%= detail %>
      </div>
    <% end %>
  <% end %>
<% end %>
