<h3><%= @campaign.title %></h3>

<% if current_user == @campaign.user %>
  <div class="edit-button btn">
    <%= link_to 'Edit Campaign Details', edit_campaign_path %>
  </div>
<% end %>

<!-- TODO: For each of these displays, post a message if they're empty -->
<!-- All the chapters for the campaign -->
<%= render partial: 'chapters/chapter_listing',
  locals: {
           campaign: @campaign,
           chapter: @chapter,
           chapters: @chapters
          }
%>

<!-- All the setting details for the campaign -->
<%= render partial: 'setting_details/setting_detail_listing',
  locals: {
           setting_details: @setting_details,
           setting_detail: @setting_detail,
           campaign: @campaign
          }
%>

<!-- All the player characters for the campaign -->
<%= render partial: 'characters/party', locals: {player_characters: @player_characters} %>

<!-- TODO: Store this in a partial -->
<h4>NPC Roster</h4>
<% @gm_characters.each do |character| %>
<div class="character name">
  <!-- TODO: Make this a link to the character's show page -->
  Character: <%= character.name.titleize %>
</div>
<% end %>
