<nav>
  <span class='header campaign-title'><%= @campaign.title %></span>
  <span class='header campaign-description'> <%= link_to 'Campaign Details', campaign_setting_details_path(@campaign) %> </span>
</nav>

<% if current_user == @campaign.user %>
  <div class="edit-button btn">
    <%= link_to 'Edit Campaign Details', edit_campaign_path %>
  </div>
<% end %>

<!-- TODO: For each of these displays, post a message if they're empty -->
<!-- All the chapters for the campaign -->
<%= render partial: 'chapters/chapter_listing',
  locals: {
           campaign: @campaign,
           chapter: @chapter,
           chapters: @chapters
          }
%>

<!-- All the player characters for the campaign -->
<%= render partial: 'characters/party',
  locals: {
           player_characters: @player_characters,
           campaign: @campaign
          }
%>

<!-- All the npc characters for the campaign -->
<%= render partial: 'characters/npc_roster',
  locals: {
           gm_characters: @gm_characters,
           campaign: @campaign
          }
%>
